
body {
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:12px;
    height:100vh;
    margin:0px;
    padding:0px;
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    width:100%;
}

/* Portrait layout (default) */
.app {
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    text-align:center;    
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}


#header{
    display: flex;
    flex-direction: row;
    height: 50px;
    color: #fff;
    background-color: #101847;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
}
